<form id="add-task" action="/schedule/api/tasks" method="POST">
  <input name="title" type="text" placeholder="">
  <input name="startTime" type="time" placeholder="">
  <input name="endTime" type="time" placeholder="">
  <input name="notes" type="text" placeholder="">
  <select name="tag" placeholder="">
    <option value="art">Art</option>
    <option value="literature">Literature</option>
    <option value="math">Math</option>
    <option value="science">Science</option>
  </select>
  <input type="submit" value="Submit">
</form>

<button id="btn-hide-form" onclick="cancelForm()">Cancel</button>