<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../assets/css/auth.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/calender.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/nav.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/schedule.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/styles.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/toDo.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/videos.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/login.css" type="text/css" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"
/>

<script src="https://kit.fontawesome.com/a30c896703.js" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-timepicker.min.js"></script>

<title>Homeschool Wizard</title>

