<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div id="nav-container">
        <div id="nav-row-1">
            <a class="navbar-brand js-scroll-trigger" href="/"><img
            id="logo" src="/assets/img/witch-hat-logo.png" alt="logo"></a>
            <button id="menu-btn" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div id="nav-row-2">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Settings</a></a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/auth/logout">Logout</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/auth/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>