<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" href = "assets/css/styles.css" type = "text/css" />
  <link rel = "stylesheet"
  href = "https://fonts.googleapis.com/css?family=Asap" />
  <link rel = "stylesheet"
  href = "https://fonts.googleapis.com/css?family=Montserrat" />
  <script src = "https://kit.fontawesome.com/a30c896703.js" crossorigin = "anonymous"></script>
  <title>Homeschool Wizard</title>
</head>
<body>
  <div class = "container">
    <%- body %>
  </div>
</body>
</html>