<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div id="nav-container">
      <div id="nav-row-1">
          <a class="navbar-brand js-scroll-trigger" href="/"><img
          id="logo" src="/assets/img/witch-hat-logo.png" alt="logo"></a>
          <button id="menu-btn" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars"></i>
          </button>
      </div>
      <div id="nav-row-2">
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Settings</a></a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger"
                  <%# href="#signup">Contact</a></li>
                  <li class="nav-item"><a class="nav-link js-scroll-trigger"
                  href="/auth/login">Login</a></li>
              </ul>
          </div>
      </div>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Hello Again.</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember Me</label>
              </div>
              <button id="btn-submit" class="btn btn-primary mx-auto" type="submit">Sign In</button>
              <hr class="my-4">
              <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
              <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<%# <div id="login-container">
  <div id="login-content">
    <h1>Login using...</h1>
    <a class="google-btn" href="/auth/google">Google+</a>
  </div>

  <%- include('./partials/footer') %>
<%# </div> %> %> %>

