<div class="container">
      <img id="witch-hat" src="assets/img/wizard-hat.png" alt="Wizard Hat" />
      <h3>Homeschool Wizard</h1>
      <p>Create an account or login</p>
      <a href="/users/register" class=""
        >Register</a
      >
      <a href="/users/login" class="">Login</a>
</div>