.register-h1{
    color: #fff;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    text-align: center;
}
 .registration-page{
    background: linear-gradient(#000000, #457b9d);, url("../assets/img/bg-masthead.jpg");
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

 }

