.event-header {
    color: white;
    margin: 0;
    padding: 30px 30px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: lighter;
    font-family: sans-serif;
    text-align: center;
}

.event-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  color: white;
  border: white;
  background-color: black;
  border-width: thin;
  text-align: center;
  border-style: inset;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
}

.event-title {
  color: lightskyblue;
  font-size: 1em;
}

.event-left-column {
  padding: 1em;
  width: 30%;
}

.event-right-column {
  width: 70%;
  padding: 1em;
}

.fa-paint-brush, .fa-flask, .fa-percent, .fa-walking, .fa-book, .fa-utensils, .fa-monument {
  color: lightskyblue;
}

.addButtonSection{
  padding-top: 10px;
  padding-bottom: 10px;
}

#btn-add-task {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  margin:auto;
  font-size: 1rem;
}

#btn-add-event {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  margin: auto;
  font-size: 1rem;
}