.todo body {
     font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     background: linear-gradient(#000000, #457b9d);
     display: flex;
}

 .todo ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }

 .todo h1 {
     /* background: black; */
     color: white;
     margin: 0;

     text-transform: uppercase;
     font-size: 3.5rem;
     font-weight: bolder;
     font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-family: sans-serif;
     text-align: center;
 }

  .todo fa-plus {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-family: sans-serif;
    text-align: center;
     color:#fff;
  font-weight: lighter;
 }
 .fa-fa-minus{


 }
 .todo li {
     background: #fff;
     height: 60px;
     line-height: 50px;
     color: #3d315b;
     font-size: 1.25rem;
 }

 .todo li:nth-child(2n) {
     background: #f7f7f7
 }

 .todo span {
     background: #457b9d;
     height: 60px;
     margin-left: 0px;
     color: white;
    vertical-align: center;
     width: 0;
     display: inline-block;
     transition: 0.3s linear;
     opacity: 3;
 }

 .todo li:hover span {
     width: 30px;
     opacity:2;
 }

 .todo input {
     font-size: .5rem;
     color: #fff;
     background-color:#364156;
     width: 100%;
     padding:13px 13px 13px 0px;
     box-sizing: border-box;
     border: 0px solid rgba(0, 0, 0, 0);
     border-right: : 40px;
 }

 .todo input:focus {
     background: #fff;
     border: 0px solid #2980b9;
     outline: none;


 }

 .todo-container {
     width: 350px;
     margin: 165px auto;
    color: inherit;
    box-shadow: 20px 10px 10px #1d3557;

 }

 .todo .completed {
     color:gray;
     text-decoration: line-through
 }

